METAKEEP_API_KEY=replace-with-metakeep-api-key
NEXT_PUBLIC_METAKEEP_APP_ID=replace-with-metakeep-app-id
NEXT_PUBLIC_SOLANA_DEVNET_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_USDC_MINT_DEVNET=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
NEXT_PUBLIC_TRANSFER_AMOUNT=0.01
NEXT_PUBLIC_USER_B_WALLET=7EcDhSYGxXyscszYEp35KHN8vvw3svAuLKTzXwCFLtV

